<!--<section data-ng-controller="CalculatorController">-->
<section>
	This is the Calculator
    <div ng-controller="calcInterfaceCtrl" ng-controller="calcHistoryCtrl">
        <!--<div class="btn-primary">this is laabel</div>-->
        <input align="right" ng-model="calcExpression">
        <calc-interface ctrl-expression="calcExpression" calc="calc()"></calc-interface>
    </div>
    <div ng-controller="calcHistoryCtrl">

        <result-interface arr-items="calcResultArr" add-item="addResult()"></result-interface>
    </div>
</section>