<!DOCTYPE html>
<div>
    <table >
        <tr></tr>
        <td><Button ng-click="clickExpBtn($event)">7</Button></td>
        <td><Button ng-click="clickExpBtn($event)">8</Button></td>
        <td><Button ng-click="clickExpBtn($event)">9</Button></td>
        <td><Button ng-click="clickExpBtn($event)">+</Button></td>
        </tr>
        <tr>
           <td><Button ng-click="clickExpBtn($event)">4</Button></td>
           <td><Button ng-click="clickExpBtn($event)">5</Button></td>
           <td><Button ng-click="clickExpBtn($event)">6</Button></td>
           <td><Button ng-click="clickExpBtn($event)">-</Button></td>
           </tr>
        <tr>
            <td><Button ng-click="clickExpBtn($event)">1</Button></td>
            <td><Button ng-click="clickExpBtn($event)">2</Button></td>
            <td><Button ng-click="clickExpBtn($event)">3</Button></td>
            <td><Button ng-click="clickExpBtn($event)">*</Button></td>
            </tr>
        <tr>
            <td colspan="2"><Button>0</Button></td>
            <td><Button ng-click="calc()">=</Button></td>
            </tr>
    </table>
</div>