<html>
<head lang="en">
    <meta charset="utf-8">
    <title></title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <style>
        table,th,td
        {
            border:1px solid black;
            border-collapse:collapse;
            text-align:center;
        }
    </style>
</head>
<body>

<div ng-app="miniCalculator">
    <div ng-controller="calcInterfaceCtrl" ng-controller="calcHistoryCtrl">
            <!--<div class="btn-primary">this is laabel</div>-->
        <input align="right" ng-model="calcExpression">
        <calc-interface ctrl-expression="calcExpression" calc="calc()"></calc-interface>
    </div>
    <div ng-controller="calcHistoryCtrl">

        <result-interface arr-items="calcResultArr" add-item="addResult()"></result-interface>
    </div>

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script type="text/javascript" src="calc.service.js"></script>
<script type="text/javascript" src="calc.interface.js"></script>
<script type="text/javascript" src="result.interface.js"></script>
<!--<script src="css/bootstrap.min.js"></script>-->
</body>
</html>